/* GLOBAL STYLES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0;
}

/* HEADER STYLES */

img {
    border-radius: 60%;
    padding: 2.5px;
}

#tammy {
    background-color: grey;
    opacity: 85%;
    padding: 5px;
}
/* NAVIGATION STYLES */

.nav-item {
    text-decoration: underline;
    padding: 3px;
}  
 
/* HERO STYLES */

#hero {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/scott-webb-R5fIqR8nPu0-unsplash.jpg");
    min-height: 20em;
    height: 50%;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-text {
    color: #eee;
    background: rgba(5,5,5,0.7); 
    opacity: 75%;
    padding: 2em;
    border-radius: 15px;
    text-align: right;
    margin-top: 15%;
    margin-left: 65%;
    h1 {font-size: 2.3rem; line-height: 1.1;}   
}

.hero-container {
    margin: 0 auto;
    padding: 1.5em 5%;
}

/* PORTFOLIO STYLES */

.portfolio-row {
    display: flex;
    flex-direction: row;
}

.left {
    width: 25%;
    margin: 5px;
    padding: 15px;
    text-align: right;
    /*border: 2px solid green;*/
}

.right {
    width: 75%;
    margin: 5px;
    padding: 15px;
   
}

/* Vertical lines between columns*/

.vertical {
    border-left: 3px solid black;
    height: 185px;
    position:absolute;
    left: 25%;
    margin: 10px;
}
.vertical2 {
    border-left: 3px solid black;
    height: 625px;
    position:absolute;
    left: 25%;
    margin: 10px;
}

/* ABOUT ME STYLES */

p {
    margin: 20px;
    padding: 5px;
}

/* WORK STYLES */
.one {
    background-image: url('../portfolio/images/1.jpg');
    color: white;
    height: 50vh;
    margin-bottom: 20px;
    
}
.two {
    background-image: url('../portfolio/images/2.jpg');
    color: white;
    height: 25vh;
    
}
.three {
    background-image: url('../portfolio/images/3.jpg');
    color: white;
    height: 25vh;
}
.four {
    background-image: url('../portfolio/images/4.jpg');
    color: white;
    height: 25vh;
}
.five {
    background-image: url('../portfolio/images/5.jpg');
    color: white;
    height: 25vh;
}

.box {
    position: relative;
    background-color: grey;
    height: 30%;
    width: 15%;
}

.boxes {
    position: relative;
    background-color: grey;
    height: 50%;
    width: 35%;
}

#bottom {
    position: absolute;
    bottom: 20px;
    left: 2;
}

#bottoms {
    position: absolute;
    bottom: 50px;
    left: 2;
}

/* CONTACT STYLES */

#contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.li {
    display: inline;
    text-decoration: underline;
    list-style-type: none;
    padding: 5px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
    .hero-text {
        margin-left: 0%;
    }
}

@media only screen and (min-width: 600px) {
    .hero-container {
        margin-left: 0%;
    }
}

@media only screen and (device-width: 400px)  {
    .portfolio-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .vertical, .vertical2 {
        border-left: none;
    }

    .info li {
        display: inline-block;
        text-align: center;
    }

    .box, .boxes {
        background-color: transparent; 
    }
    

  }
  